<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="cordova-plugin-novosdk" 
        version="1.0.0">
   
   <name>novosdk</name>
   
   <js-module name="novosdk" src="www/novosdk.js">
      <clobbers target="novosdk" />
   </js-module>
   
   <platform name="android">

      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="novosdk">
            <param name="android-package" value="cordova.plugin.novosdk.novosdk" />
         </feature>
      </config-file>
   
      <config-file parent="/*" target="AndroidManifest.xml" />
      
      <source-file src="src/android/novosdk.java" target-dir="src/cordova/plugin/novosdk/novosdk" />

      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        
      <resource-file src="src/android/tokenizationlib.aar" target="libs/tokenizationlib.aar" />
      <resource-file src="src/android/VisaSensoryBranding.aar" target="libs/VisaSensoryBranding.aar" />

      <resource-file src="src/android/res/drawable-hdpi/ic_tagpay.jpg" target="res/drawable-hdpi/ic_tagpay.jpg" /> 
      <resource-file src="src/android/res/drawable-mdpi/ic_tagpay.jpg" target="res/drawable-mdpi/ic_tagpay.jpg" /> 
      <resource-file src="src/android/res/drawable-xhdpi/ic_tagpay.jpg" target="res/drawable-xhdpi/ic_tagpay.jpg" /> 
      <resource-file src="src/android/res/drawable-xxhdpi/ic_tagpay.jpg" target="res/drawable-xxhdpi/ic_tagpay.jpg" />
   </platform>
</plugin>